@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
    background-image: url(https://i.pinimg.com/originals/a7/33/d1/a733d1bf859657bd2a260cd1ea5fc10a.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

header>center>button {
    background-color: rgba(240, 248, 255, 0);
}

button {
    background-color: #c54ba700;
    border: 0px;
    padding: 0px;
    transition: 500ms, text-shadow 0.2s ease-in-out;
}

button:hover {
    margin: 5px;
    scale: 130%;
    animation: shake 0.5s ease-in-out 5;
    text-shadow: 0 0 5px #585858, 0 0 10px #585858, 0 0 15px #585858, 0 0 20px #ff99cc, 0 0 35px #ff99cc, 0 0 40px #ff99cc, 0 0 50px #ff99cc;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

a {
    color: #c54ba6;
    text-decoration: none;
}

.center-screen {
    padding: 10px;
    border-style: solid;
    border-color: #c54ba6;
    margin-top: 5%;
    text-align: center;
    font-family: 'Fira Mono', monospace;
    color: aliceblue;
    background-color: rgba(15, 15, 15, 0.831);
}

.waifu {
    border-style: solid;
    border-color: #c54ba6;
}

.waifu > *:not(.waifu) {
    filter: blur(5px);
}